<div class="container-fluid vh-100">
  <div class="row" style="height: inherit;">
    <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center px-4 bg-dark">
      <img src="./../../../assets/gndec-logo.png" alt="GNDEC OBE" class="img-fluid">
      <h2 class="text-white text-uppercase text-center d-none d-sm-block m-0 mt-4 mb-1">Guru Nanak Dev Engineering College</h2>
      <h5 class="text-white text-uppercase text-center d-block d-sm-none m-0 mt-2">Guru Nanak Dev Engineering College</h5>
      <p class="m-0 text-white h3 mb-3">Outcome Based Education</p>
      
      <p class="mt-5 text-white">
        <span>Developed By</span>
        <a href="http://gne9.gndec.ac.in/credit-page" target="_blank" class="ml-1 text-white link-hover">Genconians</a>
      </p>
    </div>
    <div class="col-12 col-sm-6 px-sm-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>